/* Your custom styles */
.compare{
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;
    /* make it a circle */
    border-radius:50%;
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
}

.circle{
    width: 100%;
    height: width;
    padding-top: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.right {
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 0, .75);
}

.wrong {
    box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, .75);
}

.welcome {
    background-color: #4285F4;
}

.welcome-text {
    color: whitesmoke;
}

.notification {
    width: 40%;
    position: fixed;
    top: 3%;
    left: 50%;
    margin-left: -20%;
    z-index: 2;
    background-color: whitesmoke;
    border-radius: 20px;
    display: none;
}

.innernotification {
    width: 80%;
    margin: auto;
}

.innernotification p {
    font-size: 16px;

}

#tutorialoverlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlaytext {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}